* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100vw; /* ビューポート幅に合わせる */
    overflow-x: hidden; /* 横スクロールを無効化 */
}

.background {
    background-color: lawngreen;
    height: 100%;
    width: 100%;
    position: absolute;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 8vh;
    background-color: #000000a2;
}

.logo {
    color: white;
    font-size: 25px;
    display: flex;
    position: absolute;
    left: 50px;
}


.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
    transition: all 0.5s ease-in-out;
}

.nav-links h4 {
    font-size: 2rem;
}

.nav-links li {
    list-style: none;
    font-size: 1.3rem;
}
.nav-links li a {
    text-decoration: none;
    margin-left: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: color 0.2s ease;
}

.nav-links li a:hover {
    color: #979797;
    
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.5s ease-in-out;
}

.nav-active {
    transform: translateX(0%) !important;}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 40%;
    }
}
@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0;

        top: 8vh;
        bottom: 0;
        background-color: #3b3b3b;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start; /* 子要素を上部に配置 */
        padding-top: 3em; /* 少し余白を追加（必要に応じて調整） */
        width: 40%;
        font-size: 1.3rem;
        transform: translateX(100%);
    }
    .nav-links > * {
        margin-bottom: 5em; /* 各項目の間隔を調整 */
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        position: absolute;
        display: block;
        right: 30px;
    }
}

@keyframes navLinksFade {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}